<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="span3">
    <div class="sidebar">
        <!--no.1-->
        <ul class="widget widget-menu unstyled">
            <li><a href="/home"><i class="menu-icon icon-cog"></i>ASRM API</a></li>
        </ul>

        <!--no.2-->
        <ul class="widget widget-menu unstyled">
            <li><a href="/msisdnall"><i class="menu-icon icon-desktop"></i>MSISDN </a></li>
            <li><a href="/simall"><i class="menu-icon icon-desktop"></i>SIM </a></li>
        </ul>

        <!--no.3-->
        <ul class="widget widget-menu unstyled">
            <li>
                <a class="collapsed" data-toggle="collapse" href="#msisdn">
                    <i class="menu-icon icon-tasks"></i><i class="icon-chevron-down pull-right"></i><i
                        class="icon-chevron-up pull-right"></i>
                    MSISDN
                </a>
                <ul id="msisdn" class="collapse unstyled">
                    <li><a href="/msisdnlife"><i class="menu-icon icon-repeat"></i>MSISDN Life Cycle
                    </a></li>
                    <li><a href="/msisdnapi"><i class="menu-icon icon-cogs"></i>MSISDN API </a></li>
                    <li><a href="/msisdnmnp"><i class="menu-icon icon-cogs"></i>MSISDN MNP </a></li>
                </ul>
            </li>

            <li>
                <a class="collapsed" data-toggle="collapse" href="#sim">
                    <i class="menu-icon icon-tasks"></i><i class="icon-chevron-down pull-right"></i><i
                        class="icon-chevron-up pull-right"></i>
                    SIM
                </a>
                <ul id="sim" class="collapse unstyled">
                    <li><a href="/simlife"><i class="menu-icon icon-repeat"></i>SIM Life Cycle </a>
                    </li>
                    <li><a href="/simself"><i class="menu-icon icon-cogs"></i>SIM Self </a></li>
                    <li><a href="/simpair"><i class="menu-icon icon-cogs"></i>SIM Pair </a></li>
                </ul>
            </li>
        </ul>

        <!--no.4-->
        <ul class="widget widget-menu unstyled">
            <li>
                <a href="/logout">
                    <i class="menu-icon icon-signout"></i>
                    Logout
                </a>
            </li>
        </ul>

        <!--no.5-->
        <ul class="widget widget-menu unstyled">
            <li>
                <a class="collapsed" data-toggle="collapse" href="#mor">
                    <i class="menu-icon icon-wrench"></i>
                    <i class="icon-chevron-down pull-right"></i>
                    <i class="icon-chevron-up pull-right"></i>
                    More Pages
                </a>
                <ul id="mor" class="collapse unstyled">
                    <li><a th:href="@{/load1}"><i class="menu-icon icon-wrench"></i>Loading 1 </a></li>
                    <li><a th:href="@{/load2}"><i class="menu-icon icon-wrench"></i>Loading 2 </a></li>
                    <li><a th:href="@{/test}"><i class="menu-icon icon-wrench"></i>Test Page </a></li>
                    <li><a th:href="@{/resultdata}"><i class="menu-icon icon-wrench"></i>Demo Result </a></li>
                </ul>
            </li>
        </ul>

        <!--no.6-->
        <ul class="pull-right">
            (Version 1)
        </ul>
        <!--/.widget-nav-->

    </div>
    <!--/.sidebar-->
</div>
<!--/.span3-->
