<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="module module-login span4 offset4">
                    <!-- login error -->
<!--                    <% // login.jsp?Action=login-->
<!--                    if (request.getParameter("Action") != null) {-->

<!--                    String username = request.getParameter("inputUsername");-->
<!--                    String password = request.getParameter("inputPassword");-->
<!--                    /*-->
<!--                    if (ulogin.login(username, password)) {-->
<!--                    session.setAttribute("ss_login", "true");-->
<!--                    session.setAttribute("pfUser", ulogin.getUser());-->
<!--                    response.sendRedirect("asrmapi.jsp");-->
<!--                    } else {-->
<!--                    out.print("-->
<!--                    <div class='alert alert-error'>"-->
<!--                        + "-->
<!--                        <button type='button' class='close' data-dismiss='alert'>×</button>-->
<!--                        "-->
<!--                        + "<strong>You don't have permission to access.</strong>"-->
<!--                        + "-->
<!--                    </div>-->
<!--                    ");-->
<!--                    }-->
<!--                    */-->
<!--                    }-->

<!--                    // return login faill-->
<!--                    if (request.getParameter("login") != null) {-->
<!--                    if (request.getParameter("login").equals("error")) {-->
<!--                    out.print("-->
<!--                    <div class='alert alert-error'>"-->
<!--                        + "-->
<!--                        <button type='button' class='close' data-dismiss='alert'>×</button>-->
<!--                        "-->
<!--                        + "<strong>You don't have permission to access.</strong>"-->
<!--                        + "-->
<!--                    </div>-->
<!--                    ");-->
<!--                    }-->
<!--                    }-->
<!--                    %>-->
                    <!-- End login error -->
                    <!-- <form class="form-vertical" method="post" action="login.jsp?Action=login"> -->
<!--                    <form action="#" th:action="@{/register2}" method="post" th:object="${userfo}">-->
<!--                    <form class="form-vertical" method="post" action="/login">-->
                    <form class="form-vertical" method="post" th:action="@{/login}" th:object="${userlogin}">
                        <div class="module-head">
                            <h3>Sign In</h3>
                        </div>
                        <div class="module-body">
                            <div class="control-group">
                                <div class="controls row-fluid">
                                    <input class="span12" type="text" name="inputUsername" id="inputUsername"
                                           placeholder="Username" th:field="*{user}">
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls row-fluid">
                                    <input class="span12" type="password" name="inputPassword" id="inputPassword"
                                           placeholder="Password" th:field="*{pass}">
                                </div>
                            </div>
                        </div>
                        <div class="module-foot">
                            <div class="control-group">
                                <div class="controls clearfix">
                                    <button type="submit" class="btn btn-primary pull-right">Login</button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!--/.wrapper-->

</div>
