<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="module module-login span4 offset4">

                    <!-- if session -->
                    <div th:if="${session.is_login != null and session.is_login == true}">
                        <script th:inline="javascript">
                            window.location.href = '/home';
                        </script>
                    </div>

                    <!-- Noti Messagn -->
                    <div class='alert' th:unless="${noti_m == null}">
                        <button type='button' class='close' data-dismiss='alert'>×</button>
                        <strong th:text="${noti_m}">Noti Messagn</strong>
                    </div>
                    <!-- End Noti Messagn -->

                    <!-- login error -->
                    <div class='alert alert-error' th:unless="${relogin == null}">
                        <button type='button' class='close' data-dismiss='alert'>×</button>
                        <strong th:text="${relogin}">You don't have permission to access.</strong>
                        <!-- login OK -->
                        <div th:if="${relogin == 'ok_go'}">
                            <script th:inline="javascript">
                                window.location.href = '/home';
                            </script>
                        </div>
                        <!-- End login OK -->
                    </div>
                    <!-- End login error -->

                    <form class="form-vertical" method="post" th:action="@{/login}" th:object="${userlogin}">
                        <div class="module-head">
                            <h3>Sign In</h3>
                        </div>
                        <div class="module-body">
                            <div class="control-group">
                                <div class="controls row-fluid">
                                    <input class="span12" type="text" name="inputUsername" id="inputUsername"
                                           placeholder="Username" th:field="*{uName}" required>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls row-fluid">
                                    <input class="span12" type="password" name="inputPassword" id="inputPassword"
                                           placeholder="Password" th:field="*{uPass}" th:required="true">
                                </div>
                            </div>
                        </div>
                        <div class="module-foot">
                            <div class="control-group">
                                <div class="controls clearfix">
                                    <button type="submit" class="btn btn-primary pull-right">Login</button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!--/.wrapper-->

</div>
