<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

    <!-- session -->
    <div th:if="${session.is_login == null}">
        <script th:inline="javascript">
            window.location.href = '/';
        </script>
    </div>
    <!-- session -->

    <div class="modal-loader" id="myModalLoader">
        <div class="loader"></div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="row">

                <!-- sidebar -->
                <div th:insert="fragment/sidebar"></div>
                <!-- sidebar -->

                <div class="span9">
                    <div class="content">

                        <div class="module animate-bottom">
                            <div class="module-head">
                                <h3><i class="icon-list-alt"></i> Result Data</h3>
                            </div>

                            <div class="module-body">

                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th></th>
<!--                                        <th></th>-->
                                        <th>#</th>
                                        <th>Msisdn</th>
<!--                                        <th>Status</th>-->
<!--                                        <th>POOL</th>-->
                                        <th>Result</th>
                                        <th></th>
<!--                                        <th>Detail</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
<!--                                        <td></td>-->
                                        <td>1</td>
                                        <td><a th:href="@{/resultdata}">0810000000</a></td>
<!--                                        <td>PREACTIONTED</td>-->
<!--                                        <td>RMVSRMP555</td>-->
                                        <td><b class="text-success">Success</b></td>
                                        <td></td>
<!--                                        <td><a class="btn" th:href="@{/resultdata}">Detail</a></td>-->
                                    </tr>
                                    <tr>
                                        <td></td>
<!--                                        <td></td>-->
                                        <td>2</td>
                                        <td><a th:href="@{/resultdata}">0810000001</a></td>
<!--                                        <td>Thornton</td>-->
<!--                                        <td>@fat</td>-->
                                        <td><b class="text-error">Error</b></td>
                                        <td></td>
<!--                                        <td><a class="btn" th:href="@{/resultdata}">Detail</a></td>-->
                                    </tr>
                                    <tr>
                                        <td></td>
<!--                                        <td></td>-->
                                        <td>3</td>
                                        <td><a th:href="@{/resultdata}">0810000002</a></td>
<!--                                        <td>the Bird</td>-->
<!--                                        <td>RMVSRMP555</td>-->
                                        <td><b class="text-success">Success</b></td>
                                        <td></td>
<!--                                        <td><a class="btn" th:href="@{/resultdata}">Detail</a></td>-->
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="stream-list">
                                    <div class="media stream">
                                        <div class="media-body">
                                            <div class="stream-headline">

                                                <h5 class="stream-author">
                                                    0810000000
                                                    <strong class="text-success">Success</strong>
                                                </h5>
                                                <h5 class="stream-author">
                                                    0810000001
                                                    <b class="text-error">Error</b>
                                                </h5>



                                            </div>
                                            <!--/.stream-headline-->
                                        </div>
                                        <!--/.media-body-->
                                    </div>
                                    <!--/.media .stream-->
                                </div>
                                <!--/.stream-list-->
                            </div>
                            <!--/.module-body-->

                        </div>
                        <!--/.module .animate-bottom-->

                        <div class="module animate-bottom">
                            <div class="module-head">
                                <h3><i class="icon-cog"></i> ASRM Call API</h3>
                            </div>
                        </div>

                        <div class="btn-controls animate-bottom-2">

                            <div class="btn-box-row row-fluid">

                                <a href="/msisdnall"
                                   class="btn-box big span6" onclick="goLoad()">
                                    <i class="icon-desktop"></i>
                                    <b>MSISDN</b>
                                </a>
                                <a href="/simall" class="btn-box big span6"
                                   onclick="goLoad()">
                                    <i class="icon-desktop"></i>
                                    <b>SIM</b>
                                </a>

                            </div>

                            <div class="btn-box-row row-fluid">

                                <a href="/msisdnapi"
                                   class="btn-box big span3" onclick="goLoad()">
                                    <i class="icon-cogs"></i>
                                    <b>MSISDN API</b>
                                </a>
                                <a href="/msisdnmnp"
                                   class="btn-box big span3" onclick="goLoad()">
                                    <i class="icon-cogs"></i>
                                    <b>MSISDN MNP</b>
                                </a>
                                <a href="/simself" class="btn-box big span3"
                                   onclick="goLoad()">
                                    <i class="icon-cogs"></i>
                                    <b>SIM Self</b>
                                </a>
                                <a href="/simpair" class="btn-box big span3"
                                   onclick="goLoad()">
                                    <i class="icon-cogs"></i>
                                    <b>SIM Pair</b>
                                </a>

                            </div>

                        </div>

                    </div> <!--/.content-->
                </div>

            </div>
        </div>
        <!--/.container-->
    </div>
    <!--/.wrapper-->

    <script>
        window.onload = function (){
            document.getElementById("myModalLoader").style.display = "none";
        };
    </script>

</div>
