<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

    <!-- session -->
    <div th:if="${session.is_login == null}">
        <script th:inline="javascript">
            window.location.href = '/';
        </script>
    </div>
    <!-- session -->

    <div class="modal-loader" id="myModalLoader">
        <div class="loader"></div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="row">

                <!-- sidebar -->
                <div th:insert="fragment/sidebar"></div>
                <!-- sidebar -->

                <div class="span9">
                    <div class="content">

                        <div class="module animate-bottom">
                            <div class="module-head">
                                <h3><i class="icon-list-alt"></i> Result Data</h3>
                            </div>

                            <div class="module-body">

                                <p>
                                    <strong>Output</strong>
                                </p>

                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>#</th>
                                        <th>Msisdn / SIM</th>
                                        <th>Result</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td>1</td>
                                        <td><a th:href="@{/resultdata}" target="_blank">0810000000</a></td>
                                        <td><b class="text-success">Success</b></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>2</td>
                                        <td><a th:href="@{/resultdata}" target="_blank">896604502310000035</a></td>
                                        <td><b class="text-error">Error</b></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="stream-list">
                                    <div class="media stream"></div>
                                </div>

                            </div>
                            <!--/.module-body-->

                        </div>
                        <!--/.module .animate-bottom-->

                        <div class="module animate-bottom">
                            <div class="module-head">
                                <h3><i class="icon-cog"></i> ASRM Call API</h3>
                            </div>
                        </div>

                        <div class="btn-controls animate-bottom-2">

                            <div class="btn-box-row row-fluid">

                                <a href="/msisdnall"
                                   class="btn-box span2" onclick="goLoad()">
                                    <i class="icon-desktop"></i>
                                    <b>Msisdn</b>
                                </a>
                                <a href="/msisdnapi"
                                   class="btn-box span2" onclick="goLoad()">
                                    <i class="icon-cogs"></i>
                                    <b>Msisdn API</b>
                                </a>
                                <a href="/msisdnmnp"
                                   class="btn-box span2" onclick="goLoad()">
                                    <i class="icon-cogs"></i>
                                    <b>Msisdn MNP</b>
                                </a>
                                <a href="/simall"
                                   class="btn-box span2" onclick="goLoad()">
                                    <i class="icon-desktop"></i>
                                    <b>SIM</b>
                                </a>
                                <a href="/simself"
                                   class="btn-box span2" onclick="goLoad()">
                                    <i class="icon-cogs"></i>
                                    <b>SIM Self</b>
                                </a>
                                <a href="/simpair"
                                   class="btn-box span2" onclick="goLoad()">
                                    <i class="icon-cogs"></i>
                                    <b>SIM Pair</b>
                                </a>

                            </div>

                        </div>

                    </div> <!--/.content-->
                </div>

            </div>
        </div>
        <!--/.container-->
    </div>
    <!--/.wrapper-->

</div>
