<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

    <!-- session -->
    <div th:if="${session.is_login == null}">
        <script th:inline="javascript">
            window.location.href = '/';
        </script>
    </div>
    <!-- session -->

    <div class="modal-loader" id="myModalLoader">
        <div class="loader"></div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="row">

                <!-- sidebar -->
                <div th:insert="fragment/sidebar"></div>
                <!-- sidebar -->

                <div class="span9">
                    <div class="content">

                        <div class="module animate-bottom">

                            <div class="module-head">
                                <h3><i class="icon-wrench"></i> Test Page.</h3>
                            </div>


                            <div class="module-body">

                                <div th:text="${session.is_login == null}"></div>
                                <div th:text="${session.is_login == true}"></div>
                                <div th:text="${session.is_login}"></div>
                                <br>
                                <b>
                                    <p th:text="'Test Text....'"></p>
                                </b>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!--/.container-->
    </div>
    <!--/.wrapper-->

</div>
