<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <!-- sidebar -->
                <div th:insert="fragment/sidebar"></div>
                <!-- sidebar -->

                Fome Login....

            </div>
        </div>
        <!--/.container-->
    </div>
    <!--/.wrapper-->
</div>
<!--/.layout:fragment="content"-->
<!--<div th:replace="layout/layout :: yo"></div>-->